body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    margin: 1rem;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

header a:hover {
    color: #ff8800;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);

}
header::before{
    z-index: -1;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s;
}

#espaco {
    margin-top: 10px;
}

main {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
}

form {
    margin-bottom: 40px;
    margin: 1rem;
}

/* Estilos para a resposta correta */
.certa {
    color: #155724;
    background-color: #d4edda;
}

/* Estilos para a resposta incorreta */
.errada {
    color: #721c24;
    background-color: #f8d7da;
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.answer label {
    margin-left: 10px;
    font-weight: normal;
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #faad1d;
    margin: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.result {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#questao{
    border: 1px solid #767e6f;
    background-color: #aaadbd;
    padding: 10px;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 14px;
    width: 40rem;
    color: #666;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
}
