body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
    margin: 1rem;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.555);
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

header a:hover {
    color: #ff8800;
    box-shadow: 0 0 10px #fff0ff;
    transform: translateY(-2px);

}
header::before{
    z-index: -1;
    filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#videoaula {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s;
    z-index: 1;
    position: relative;
}

.overlay {
    position: absolute;
    width: 75%;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -90%);
    background-color: rgba(78, 77, 77, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.geometria {
    position: absolute;
    width: 75%;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -90%);
    background-color: rgba(78, 77, 77, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.geometria:hover {
    opacity: 1;
}

.areas {
    position: absolute;
    width: 75%;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -90%);
    background-color: rgba(78, 77, 77, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.areas:hover {
    opacity: 1;
}

.exercicios {
    position: absolute;
    width: 75%;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -90%);
    background-color: rgba(78, 77, 77, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.exercicios:hover {
    opacity: 1;
}

#videoaula:hover {
    transform: scale(1.05);
}

#videoaula img {
    width: 200px;
    height: 50%;
}

#videoaula h3 {
    margin-top: 10px;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 14px;
    width: 40rem;
    color: #666;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
}